@font-face {
  font-family: 'Gmarket';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff');
}

.App {
  font-family: 'Gmarket';
}

h1{
  text-align: center;
  padding-top: 60px;
}

.header a{
  text-decoration: none;
  color: white;
  padding: 10px 30px 10px 0px;
  font-size: 20px;
}

.header a:hover{
  color: gray;
}